.footer {
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.contact {
    display: flex;
    
}

.contactItem {
   
    
    margin-left: 100px;
        font-size: 30px;
        font-weight: 600;
        line-height: 63px;
        text-align: left;
}

.socials {
    display: flex;
    gap: 20px;
}

.icon {
    color: white;
    font-size: 35px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #0077b5;
    cursor: pointer;
}